/* 
declaration block:
 
selector{
    property: value;
    property2: value;
}
*/
/* body consists of the page color customization; minimum required two properties */

.transparent-box{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;

}

body{
    /* Had the help of AI (Aria) list properties when constructing the body of this CSS code for background image */
    background-color: rgba(5, 4, 3, 0.884);
    background-image: url(uat\ logo\ 2.0.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(25, 184, 118);
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: large;
    
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}
/* Link for the image on the HTML page */
#memeImage{
    margin-right: 200px;
    width: 400px;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}